@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
/* GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: rgb(23, 23, 23);
    color: white;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a{
    text-decoration: none;
    color: white;
}
/* Custom CSS */
.green {
    color: #2fff2f;
}

.container {
    padding: 0 5%; /* percentage for responsive padding */
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    /*border: 1px solid red; */  
    padding: 20px 0;
    border-bottom: 1px solid rgb(43, 43, 43);
    /* text-transform: uppercase; */
}

.title {
    margin-bottom: 15px;
    padding: 15px 0;
}

.logo {
    /*border: 1px solid red; */  
    font-size: 1.4vw; /* Adjusted font size */
    text-align: center;
}

.tagLine {
    /*border: 1px solid red; */  
    text-align: center;
    font-size: 1.2vw; /* Adjusted font size */
    color: #626e73;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border: 1px solid red; */  
    font-size: 1.vw; /* Adjusted font size */
}

.searchBar {
    /*border: 1px solid red; */  
    padding: 10px 15px;
}

.navItems {
    /*border: 1px solid red; */  
    margin-left: 2%; /* Use percentage for responsive margin */
}

#search {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.navbar ul > li {
    display: inline-block;
    list-style-type: none;
}

nav ul > li > a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 15px;
    /*border: 1px solid red; */ 
}

.navItems a:hover {
    background-color: red;
}

#active {
    background-color: red;
}

/* MAIN SECTION */
main.container{
    /* border: 1px solid red; */
    /* height: 100vh; */
    display: flex;
    padding: 20px 5%;
}
.Left{
    width: 70%;
    /* border: 1px solid red; */
}
.Right{
    width: 30%;
    padding: 20px;
    /* border: 1px solid red; */
}
.mainArticle{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
/* .mainHeading{
    font-size: 2vw;
} */
.mainArticlePic{
    height: 500px;
}
.mainArticlePic img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}
.publishingDate{
    font-size: 1vw;
    color: grey;
}
.summary{
    font-size: 1.2vw;
}

.sub-heading{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin: 25px 0px;
}
.horLine{
    background-color: #2fff2f;
    width: 100%;
    height: 1px;
}

.articlePic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.ques{
    margin-top: 5%;
    margin-bottom: 5%;
}
.options{
    display: flex;
    flex-direction: column;
}
.options label{
    position: relative;
    bottom: 5px;
}
.option{
    position: relative;
    bottom: 3px;
    left: 5px;
}
.submit{
    align-self: flex-end;
}
.submitButton{
    padding: 5px 15px;
    font-size: 16px;
    background-color: red;
    color: white;
    border: none;
}
.options label{
    padding: 8px;
}
.poll{
    background-color: #2e2d2d;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.post{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    /* border: 1px solid red; */
}
.postImage{
    width: 200px;
    height: 100px;
    /* border: 1px solid red; */
}
.postImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.postContent{
    padding: 5%;
}
.Author{
    margin-top: 5px;
    font-size: 14px;
}

footer{
    background-color: black;
    padding: 20px 0;
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
/* Media Queries */
@media (max-width: 768px) {
    main{
        flex-direction: column;
    }
    .grid-container{
        grid-template-columns: auto auto;
    }
    .Left, .Right{
        width: 100%;
    }
    /* .mainHeading{
        font-size: 5vw;
    } */
    .publishingDate{
        font-size: 2vw;
    }
    .summary{
        font-size: 3vw;
    }

    .container {
        padding: 0 20px; /* Less padding on smaller screens */
    }
    .title{
        margin-bottom: 0;
    }
    .searchBar{
        text-align: center;
    }
    nav {
        flex-direction: column; /* Stack nav items vertically */
        align-items: center; /* Center align items */
    }

    .navItems {
        margin-left: 0; /* Remove left margin on smaller screens */
        margin-top: 10px; /* Add top margin for spacing */
    }

    .logo,
    .tagLine,
    nav {
        font-size: 2.5vw; /* Adjusted font size for smaller screens */
    }
}

@media (max-width: 480px) {
    .logo,
    .tagLine,
    nav {
        font-size: calc(16px + 0.5vw); /* Further adjusted font size for very small screens */
    }
    .grid-container{
        grid-template-columns: auto;
    }
    .searchBar {
        width: 100%; /* Make search bar full width */
        margin-top: 5px; /* Add some spacing */
    }
}

@media (max-width: 360px) {
    .logo,
    .tagLine,
    nav {
        font-size: calc(16px + 0.5vw); /* Further adjusted font size for very small screens */
    }
    .navItems{
        width: 100%;
    }
    .navItems ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .searchBar {
        width: 100%; /* Make search bar full width */
        margin-top: 5px; /* Add some spacing */
    }
}

